In [33]:
import os, sys
sys.path.append(os.path.abspath("../"))
from utils.toolbox import *

import joblib
import numpy as np
import pandas as pd
import pickle

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline

In [34]:
# Se lee el dataset de trabajo
df = pd.read_csv("../data/Datos_Reservas_full.csv")

# Se extrae una muestra aleatoria de mil registros y se guarda el archivo
df_muestra = df.sample(1000, random_state = 42)
df_muestra.to_csv("../data_sample/muestra_reservas.csv", index = False) 

# Se eliminan esos registros del dataset original
df = df[~df.isin(df_muestra).all(axis=1)]

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152355 entries, 0 to 153354
Data columns (total 16 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   daily_price     152355 non-null  float64
 1   lead_time       152355 non-null  int64
 2   adults          152355 non-null  int64
 3   children        152355 non-null  int64
 4   repeated_guest  152355 non-null  int64
 5   total_book      152355 non-null  int64
 6   pre_cancel      152355 non-null  int64
 7   pre_not_cancel  152355 non-null  int64
 8   arr_date        152355 non-null  object
 9   arr_week        152355 non-null  int64
 10  week_nights     152355 non-null  int64
 11  weekend_nights  152355 non-null  int64
 12  meal_plan       152355 non-null  object
 13  parking         152355 non-null  int64
 14  special_req     152355 non-null  int64
 15  canceled        152355 non-null  int64
dtypes: float64(1), int64(13), object(2)
memory usage: 19.8+ MB

In [36]:
columns_to_include = ['daily_price',
                      'lead_time',
                      'adults',
                      'children',
                      'repeated_guest',
                      'total_book',
                      'pre_cancel',
                      'pre_not_cancel',
                      'arr_date',
                      'arr_week',
                      'week_nights',
                      'weekend_nights',
                      'meal_plan',
                      'parking',
                      'special_req',
                      'canceled']

In [37]:
pipe_columns = ColumnTransformer([("incluye","passthrough",columns_to_include)], remainder = "drop" )

In [38]:
pipe_end = pipe_columns.fit_transform(df)
pipe_columns.get_feature_names_out()
df_check = pd.DataFrame(pipe_end, columns = pipe_columns.get_feature_names_out())
df_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152355 entries, 0 to 152354
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   incluye__daily_price     152355 non-null  object
 1   incluye__lead_time       152355 non-null  object
 2   incluye__adults          152355 non-null  object
 3   incluye__children        152355 non-null  object
 4   incluye__repeated_guest  152355 non-null  object
 5   incluye__total_book      152355 non-null  object
 6   incluye__pre_cancel      152355 non-null  object
 7   incluye__pre_not_cancel  152355 non-null  object
 8   incluye__arr_date        152355 non-null  object
 9   incluye__arr_week        152355 non-null  object
 10  incluye__week_nights     152355 non-null  object
 11  incluye__weekend_nights  152355 non-null  object
 12  incluye__meal_plan       152355 non-null  object
 13  incluye__parking         152355 non-null  object
 14  incluye__special_req     152355 non-null  object
 15  incluye__canceled        152355 non-null  object
dtypes: object(16)
memory usage: 18.6+ MB

In [39]:
df_test = pd.read_csv("../data/Hotel_Reservations.csv")
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [40]:
df_test2 = pd.read_csv("../data/Hotel_Bookings.csv")
df_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [43]:
nombres_columnas(df_test)

NameError: name 'nombres_columnas' is not defined