In [170]:
import os, sys
sys.path.append(os.path.abspath("../"))

import pandas as pd

from utils.funciones import *

### REVISIÓN INICIAL DE LOS DATASET

In [171]:
# Carga del DataFrame 1, revisión de la información general y del número de registros duplicados.
df1 = pd.read_csv("../data_sample/Hotel_Reservations.csv")
print(df1.info())
if len(df1[df1.duplicated()]) == 0:
    print("No hay registros duplicados")
else:
    print(f"Hay {len(df1[df1.duplicated()])} registros duplicados")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB
None
No hay registros duplicados

In [172]:
# Carga del DataFrame 2, revisión de la información general y del número de registros duplicados.
df2 = pd.read_csv("../data_sample/Hotel_Bookings.csv")
print(df2.info())
if len(df2[df2.duplicated()]) == 0:
    print("No hay registros duplicados")
else:
    print(f"Hay {len(df2[df2.duplicated()])} registros duplicados")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB
None
No hay registros duplicados

### UNIFORMIDAD DE DATASET

In [173]:
# Se unifica el criterio de los nombres de las columnas.
df2.rename(columns = {"is_canceled":"booking_status",
                      "arrival_date_year":"arrival_year",
                      "arrival_date_month":"arrival_month",
                      "arrival_date_day_of_month":"arrival_date",
                      "stays_in_weekend_nights":"no_of_weekend_nights",
                      "stays_in_week_nights":"no_of_week_nights",
                      "adults":"no_of_adults",
                      "children":"no_of_children",
                      "meal":"type_of_meal_plan",
                      "market_segment":"market_segment_type",
                      "is_repeated_guest":"repeated_guest",
                      "previous_cancellations":"no_of_previous_cancellations",
                      "previous_bookings_not_canceled":"no_of_previous_bookings_not_canceled",
                      "reserved_room_type":"room_type_reserved",
                      "required_car_parking_spaces":"required_car_parking_space",
                      "total_of_special_requests":"no_of_special_requests",
                      "adr":"avg_price_per_room",
                      }, inplace = True)

In [174]:
# Se identifican las columnas coincidentes o no entre ambos DataFrame.
lista_coincidencias = []
lista_no_coincidencias = []
for col in df2.columns:
    if col in df1.columns:
        lista_coincidencias.append(col)
    else:
        lista_no_coincidencias.append(col)

In [175]:
# Se imprime la lista de coincidentes.
print(len(lista_coincidencias))
lista_coincidencias

18

['booking_status',
 'lead_time',
 'arrival_year',
 'arrival_month',
 'arrival_date',
 'no_of_weekend_nights',
 'no_of_week_nights',
 'no_of_adults',
 'no_of_children',
 'type_of_meal_plan',
 'market_segment_type',
 'repeated_guest',
 'no_of_previous_cancellations',
 'no_of_previous_bookings_not_canceled',
 'room_type_reserved',
 'avg_price_per_room',
 'required_car_parking_space',
 'no_of_special_requests']

In [176]:
# Se imprime la lista de no coincidentes.
print(len(lista_no_coincidencias))
lista_no_coincidencias

18

['hotel',
 'arrival_date_week_number',
 'babies',
 'country',
 'distribution_channel',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'reservation_status',
 'reservation_status_date',
 'name',
 'email',
 'phone-number',
 'credit_card']

In [177]:
# Se identifica la columna faltante.
for col in df1.columns:
    if col not in lista_coincidencias:
        print(col)

# Se crean los DataFrame coincidentes en columnas.
dfA = df1.copy()
dfA.drop(columns = ["Booking_ID"], inplace = True)
dfB = df2[lista_coincidencias]

Booking_ID

In [178]:
# Se revisa la información del DataFrame A.
dfA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  object
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  object
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  object
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 5.0+ MB

In [179]:
# Se revisa la información del DataFrame B.
dfB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 18 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   booking_status                        119390 non-null  int64
 1   lead_time                             119390 non-null  int64
 2   arrival_year                          119390 non-null  int64
 3   arrival_month                         119390 non-null  object
 4   arrival_date                          119390 non-null  int64
 5   no_of_weekend_nights                  119390 non-null  int64
 6   no_of_week_nights                     119390 non-null  int64
 7   no_of_adults                          119390 non-null  int64
 8   no_of_children                        119386 non-null  float64
 9   type_of_meal_plan                     119390 non-null  object
 10  market_segment_type                   119390 non-null  object
 11  repeated_guest                        119390 non-null  int64
 12  no_of_previous_cancellations          119390 non-null  int64
 13  no_of_previous_bookings_not_canceled  119390 non-null  int64
 14  room_type_reserved                    119390 non-null  object
 15  avg_price_per_room                    119390 non-null  float64
 16  required_car_parking_space            119390 non-null  int64
 17  no_of_special_requests                119390 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 16.4+ MB

### UNIÓN DE DATAFRAMES

In [180]:
# Se unifican ambos DataFrame en un único conjunto de datos.
df = pd.concat([dfA,dfB],axis = 0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 155665 entries, 0 to 119389
Data columns (total 18 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   no_of_adults                          155665 non-null  int64
 1   no_of_children                        155661 non-null  float64
 2   no_of_weekend_nights                  155665 non-null  int64
 3   no_of_week_nights                     155665 non-null  int64
 4   type_of_meal_plan                     155665 non-null  object
 5   required_car_parking_space            155665 non-null  int64
 6   room_type_reserved                    155665 non-null  object
 7   lead_time                             155665 non-null  int64
 8   arrival_year                          155665 non-null  int64
 9   arrival_month                         155665 non-null  object
 10  arrival_date                          155665 non-null  int64
 11  market_segment_type                   155665 non-null  object
 12  repeated_guest                        155665 non-null  int64
 13  no_of_previous_cancellations          155665 non-null  int64
 14  no_of_previous_bookings_not_canceled  155665 non-null  int64
 15  avg_price_per_room                    155665 non-null  float64
 16  no_of_special_requests                155665 non-null  int64
 17  booking_status                        155665 non-null  object
dtypes: float64(2), int64(11), object(5)
memory usage: 22.6+ MB

### SIMPLIFICACIÓN DE NOMBRES DE COLUMNAS

In [181]:
# Se simplifican los nombres de las columnas.
df.rename(columns = {"no_of_adults":"adults",
                     "no_of_children":"children",
                     "no_of_weekend_nights":"weekend_nights",
                     "no_of_week_nights":"week_nights",
                     "type_of_meal_plan":"meal_plan",
                     "required_car_parking_space":"parking",
                     "room_type_reserved":"room_type",
                     "lead_time":"lead_time",
                     "arrival_year":"arrival_year",
                     "arrival_month":"arrival_month",
                     "arrival_date":"arrival_day",
                     "market_segment_type":"ms_type",
                     "repeated_guest":"repeated_guest",
                     "no_of_previous_cancellations":"pre_cancel",
                     "no_of_previous_bookings_not_canceled":"pre_not_cancel",
                     "avg_price_per_room":"daily_price",
                     "no_of_special_requests":"special_req",
                     "booking_status":"canceled",
                     }, inplace = True)

### TRANSFORMACIONES

In [182]:
# TANSFORMACIONES A 'CHILDREN'

# Asignación de mediana a valores faltantes, para su posterior cambio de tipo.
mediana_children = df.children.median()
df.children = df.children.fillna(mediana_children)

In [183]:
# TRANSFORMACIONES A NÚMERO DE RESERVAS

# Suma de reservas totales del cliente y eliminación de columna ?pre_not_cancel'
df["total_book"] = df["pre_cancel"] + df["pre_not_cancel"]

In [184]:
3 # UNIFORMIDAD DE VALORES

# Se transforman los valores faltantes en la columna 'children' para su posterior cambio de tipo.
mediana_children = df.children.median()
df.children = df.children.fillna(mediana_children)

# Se uniformizan los valores que contienen las columnas para que coincidan entre los aportados por ambos DataFrame.
df.canceled = df.canceled.replace({"Not_Canceled":0,"Canceled":1})
df.children = df.children.astype(int)
df.meal_plan = df.meal_plan.replace({"Not Selected":"RO","Meal Plan 1":"BB","Meal Plan 2":"HB","Meal Plan 3":"FB","Undefined":"NA"})
df.arrival_month = df.arrival_month.replace({"January":1,"February":2,"March":3,"April":4,"May":5,"June":6,"July":7,"August":8,"September":9,"October":10,"November":11,"December":12})

S:\Users\NewWalhalla\AppData\Local\Temp\ipykernel_8604\4206972183.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.canceled = df.canceled.replace({"Not_Canceled":0,"Canceled":1})
S:\Users\NewWalhalla\AppData\Local\Temp\ipykernel_8604\4206972183.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.arrival_month = df.arrival_month.replace({"January":1,"February":2,"March":3,"April":4,"May":5,"June":6,"July":7,"August":8,"September":9,"October":10,"November":11,"December":12})

In [185]:
# TRANSFORMACIONES A FECHAS

# Decido cambiar la fecha del 29 de febrero de 2018 a 28 de febrero de 2018, porque no fue un año bisiesto.
df.loc[(df.arrival_day == 29)&(df.arrival_month == 2)&(df.arrival_year == 2018), "arrival_day"] = 28

# Creo una columna fecha con todos los datos y le doy formato.
df["arr_date"] = pd.to_datetime(dict(day = df.arrival_day, month = df.arrival_month, year = df.arrival_year), errors = "coerce")
df.arr_date.dt.strftime("%d-%m-%Y")

# Creo una columna semana con la semana a la que corresponde la fecha.
df["arr_week"] = df["arr_date"].dt.isocalendar().week
df["arr_week"] = df["arr_week"].astype(int)

# Elimino las columnas anteriores (día, mes y año).
df.drop(columns = ["arrival_day","arrival_month","arrival_year"], inplace = True)

##### **Descripción de 'meal_plan'**
https://www.kaggle.com/code/mariyamalshatta/inn-hotel-classification  
Not selected = RO = Room Only  
Meal plan 1 = BB = Bed and Breakfast  
Meal plan 2 = HB = Half Board (breakfast and 1 meal)  
Meal plan 3 = FB = Full Board (Breakfast, lunch, dinner)  
SC = Self Catering (apartamento)  
Undefined = NA (Sin determinar)  

##### **Descripción de 'ms_type'**
Online TA = Online Travel Agencies  
Online TO = Online Tour Operator  

##### **Caso especial de 'room_type'**
No sé a qué se corresponde cada uno de los códigos, así que a menos que tenga especial relevancia con respecto a la variable target, eliminaré la columna.  
Los tipos enconrtados en la propia página de INN Hotels no aclaran el código empleado.
    
Standar Room  
Studio  
One bedroom suite  
Loft queen suite  
Two bedroom suite  
Executive suite

#### REVISIÓN DE DUPLICADOS

In [186]:
# Se indica el número de diplicados existentes tras la unión.
if len(df[df.duplicated()]) == 0:
    print("No hay registros duplicados")
else:
    print(f"Hay {len(df[df.duplicated()])} registros duplicados")

# Se eliminan los registros duplicados.
df.drop_duplicates(keep = "first", inplace = True)

Hay 46637 registros duplicados

### REORDENAMIENTO DE COLUMNAS Y REINDEX

In [187]:
# Orden definitivo de columnas.
df = df.reindex(["daily_price","lead_time","adults","children","repeated_guest","total_book","pre_cancel","arr_date","arr_week","week_nights","weekend_nights","meal_plan","room_type","parking","special_req","ms_type","canceled"], axis = 1)

# Reseteo de índice.
df.reset_index(drop = True, inplace = True)

# Revisión de información.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109028 entries, 0 to 109027
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   daily_price     109028 non-null  float64
 1   lead_time       109028 non-null  int64
 2   adults          109028 non-null  int64
 3   children        109028 non-null  int64
 4   repeated_guest  109028 non-null  int64
 5   total_book      109028 non-null  int64
 6   pre_cancel      109028 non-null  int64
 7   arr_date        109028 non-null  datetime64[ns]
 8   arr_week        109028 non-null  int64
 9   week_nights     109028 non-null  int64
 10  weekend_nights  109028 non-null  int64
 11  meal_plan       109028 non-null  object
 12  room_type       109028 non-null  object
 13  parking         109028 non-null  int64
 14  special_req     109028 non-null  int64
 15  ms_type         109028 non-null  object
 16  canceled        109028 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(12), object(3)
memory usage: 14.1+ MB

#### GUARDADO DE DATASET DE TRABAJO

In [188]:
df.to_csv("../data_sample/Datos_Reservas.csv", index = False)